.recipe-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    grid-area: main;
  }
  
  .recipe-detail header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .recipe-detail header h1 {
    font-size: 24px;
  }
  
  .recipe-detail main {
    text-align: left;
  }
  
  .recipe-detail img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .recipe-detail h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .recipe-detail ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .recipe-detail ul li {
    margin-bottom: 5px;
  }
  
  .recipe-detail a {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .recipe-detail a:hover {
    background-color: #0056b3;
  }
  